# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual Env ----
venv/
env/

# ---- Environment Variables ----
.env

# ---- Playwright Browsers ----
playwright/.cache/

# ---- IDE Files ----
.vscode/
.idea/

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log
logs/
